<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-icons/iconsets/av-icons.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">

<polymer-element name="player-controls" attributes="song currentSong" layout horizontal>
    <template>
        <style>
            :host {
                padding-right: 8px;
                background-color: white;
            }
            
            img {
                margin-right: 8px;   
                max-height: 100%;
            }
        </style>
        
        <core-signals on-core-signal-new-song="{{newSong}}"></core-signals>
        <core-signals on-core-signal-toggle-play="{{togglePlay}}"></core-signals>
        
        <img hidden?="{{!currentSong}}" src="images/{{currentSong.img}}">
        <div layout vertical self-center flex>
            {{currentSong.title}}<br>
            <small>{{currentSong.artist}}</small>
        </div>
        <paper-icon-button hidden?="{{!currentSong}}" icon="{{currentSong.playing ? 'av:pause' : 'av:play-arrow'}}" self-center on-tap="{{togglePlay}}"></paper-icon-button>
        
        <audio id="audio" preload="true"></audio>

    </template>
    
    <script>
        Polymer('player-controls', {
            playing: false,
            
            playingSong: {},
            
            ready: function () {
                var that = this;
                
                this.$.audio.addEventListener('ended', function () {
                    that.$.audio.pause();
                    that.$.audio.currentTime = 0;
                    that.togglePlay();
                });
            },
            
            newSong: function (event, song) {
                var that = this;
                this.currentSong.playing = false;
                
                this.currentSong = song;
                this.currentSong.playing = true;
                
                this.playingSong = this.currentSong;
                
                this.$.audio.setAttribute('src', 'music/' + this.playingSong.audioSrc);
                
                setTimeout(function () {
                    that.$.audio.play();
                }, 0);
            },
            
            togglePlay: function () {
                var that = this;
                
                if (this.currentSong.playing) {
                    this.$.audio.pause();   
                } else {
                    this.playingSong = this.currentSong;
                    
                    setTimeout(function () {
                        that.$.audio.play();
                    }, 0);
                }
                
                this.currentSong.playing = !this.currentSong.playing;
            }
        });
    </script>
</polymer-element>