<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-icons/iconsets/av-icons.html">

<polymer-element name="player-controls" attributes="song currentSong" layout horizontal>
    <template>
        <style>
            :host {
                padding-right: 8px;
                background-color: white;
            }
            
            img {
                margin-right: 8px;   
                max-height: 100%;
            }
        </style>
        
        <img hidden?="{{!currentSong}}" src="images/{{currentSong.img}}">
        <div layout vertical self-center flex>
            {{currentSong.title}}<br>
            <small>{{currentSong.artist}}</small>
        </div>
        <paper-icon-button hidden?="{{!currentSong}}" icon="{{playing ? 'av:pause' : 'av:play-arrow'}}" self-center on-tap="{{togglePlay}}"></paper-icon-button>
        
<!--        <audio id="audio" preload="true" src="music/{{currentSong.audioSrc}}"></audio>-->

    </template>
    
    <script>
        Polymer('player-controls', {
            playing: false,
            
            playingSong: {},
            
            observe: {
                "currentSong": "togglePlay"  
            },
            
            playSong: function () {
                this.togglePlay();
            },
            
            togglePlay: function () {  
                if (!this.playing) {
                    this.$.audio.play();   
                } else {
                    this.$.audio.pause();   
                }
                
                this.currentSong.playing = !this.currentSong.playing;
                
                this.playing = !this.playing;
            }
        });
    </script>
</polymer-element>